doctype html
html
  head
    meta(charset='utf-8')
    meta(name='description', content='YouTube Playlist Manager')
    meta(name='viewport', content='width=device-width, user-scalable=yes, initial-scale=1, maximum-scale=1')
    base(target='_blank')
    title YouTube Playlist Manager
    link(href='css/index.css', rel='stylesheet', type='text/css')
  body
    section.main
      h1 Playlists Manager
      ul.subscriptions
        each group in subscriptions 
          li
            div
              h3= group[0].channelTitle
              ul.group
                each sub in group
                  li
                    article
                      img(src=sub.thumbnails.default.url)
                      div.content
                        h3= sub.title
                        p.pubDate= sub.publishedAt
                        //p.pre.description= sub.description
    section.playlist
      h2 Playlist Name
      ul.items
        each p in playlist
          li
            div.noselect
              div.img
                img(src=p.thumbnails.default.url)
              div.content
                h3= p.title
                //p= p.channelTitle
                p= p.position
    script(src='js/script.js')
